@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Nanum+Myeongjo&display=swap');

::root{
--primary : black;

}


#navList{
list-style: none;
display: flex;
justify-content: space-around;
align-items: center;
position: sticky;
}


#navList li a {
    color: var(--primary);
    text-decoration: none;
}


.comforta {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
}


.show{
    display: block;
}

.hide{
    display: none;
}